@import './global';

main {
  width    : 100vw;
  height   : 100vh;
  overflow : hidden;

  .UW-router-content {
    width      : 100%;

    &.UW-is-logged-in {
      width      : calc(100% - #{$left-side-width});
      overflow-y : overlay;
      padding    : $content-top-padding $padding $content-top-padding $padding;

    }
  }
}
