@import "../../../../styles/global";


.UW-modal-wrap {

  width            : 100vw;
  height           : 100vh;
  position         : fixed;
  top              : 0;
  left             : 0;
  display          : flex;
  align-items      : center;
  justify-content  : center;
  z-index          : 1000;
  background-color : rgba(0,0,0,0.6);

  .UW-modal-bg {
    width    : 100%;
    height   : 100%;
    position : absolute;
    top      : 0;
    left     : 0;
  }

  .UW-modal-container {
    border-radius    : $radius;
    position         : relative;
    z-index          : 1;
    background-color : $white;

    &.UW-to-right {
      width                      : 1200px;
      height                     : 100vh;
      position                   : absolute;
      top                        : 0;
      right                      : 0;
      border-top-right-radius    : 0;
      border-bottom-right-radius : 0;

      @media (max-width: 1200px) {
        width : 100%;
      }
    }
  }
}
