@import '../../../../styles/global';

.G-input {
  width : 50px;
}

p {
  padding     : 10px;
  user-select : none;
}

.UW-pagination {
  margin-top : 10px;

  p {
    cursor : pointer;
    color  : $gray;

    &.active, &:hover, &.UW-btn {
      color : $blue;
    }
  }
}
