<click-outside (clickOutside)="close()">
  <div class="UW-select-box">
    <div class="UW-select" (click)="toggle()" [class.G-error]="error">
      <div class="UW-select-title">
        <p *ngIf="!multiple">{{ selectedItem && selectedItem.name || placeholder }}</p>
        <p *ngIf="multiple">{{ values.length ? values.length + ' Selected' : placeholder }}</p>
      </div>
      <i class="icon-arrow_down_1 UW-select-title-icon"></i>
    </div>
    <div class="UW-select-options" [class.show]="isOpen">
      <div class="UW-select-option"
        *ngFor="let item of list; let index = index"
        [class.UW-active]="isSelected(item)"
        (click)="change(item)">
        <p class="G-flex G-justify-between G-align-center">
          {{item.name}}
          <i class="icon-delete" *ngIf="removeBtn" (click)="removeItem($event, item.id, index)"></i>
        </p>
      </div>
    </div>
  </div>
</click-outside>

