
<div class="UW-toaster-wrap">
  <div
    class="UW-toaster-item"
    *ngFor="let item of elements"
    [class.UW-active]="item.disableRemove"
    [class.UW-hide]="!item.isActive"
    [class.UW-success]="item.status === ToasterStatusEnum.success"
    [class.UW-warning]="item.status === ToasterStatusEnum.warning"
    [class.UW-error]="item.status === ToasterStatusEnum.error"
    (click)="disableRemove(item.id)">
    <i class="icon-cancel" (click)="hideItem(item.id, $event)"></i>
    <p>{{ item.text }}</p>
  </div>
</div>
