
<div class="FM-toaster-wrap">
  <div
    class="FM-toaster-item"
    *ngFor="let item of elements"
    [class.FM-active]="item.disableRemove"
    [class.FM-hide]="!item.isActive"
    [class.FM-success]="item.status === ToasterStatusEnum.success"
    [class.FM-warning]="item.status === ToasterStatusEnum.warning"
    [class.FM-error]="item.status === ToasterStatusEnum.error"
    (click)="disableRemove(item.id)">
    <i class="icon-cancel" (click)="hideItem(item.id, $event)"></i>
    <p>{{ item.text }}</p>
  </div>
</div>
